.carousel-outer-container {
  /* display: block; */
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  /* height: auto; */
  /* min-height: 3rem; */
}
  
.carousel-inner-container {
  position: absolute;
  /* display: flex; */
  display: grid;
  grid-auto-flow: column;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  justify-content: start;
  height: 100%;
  /* justify-content: flex-start; */
  /* column-gap: 20px; */
}
  