.marquee-outer-container {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
  
.marquee-inner-container {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  height: 100%;
  animation: marquee 5s linear infinite;
}
  
@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}